:root {
  --color-dark-gray: #2e2e2e;
  --color-charcoal: #3e414a;
  --color-slate-gray: #4f5667;
  --color-steel-blue: #606b87;
  --color-air-force-blue: #7182a7;
  --color-light-blue: #8299c9;
  --text-color: #f1efef;
}

footer {
  padding: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-align: center;
  position: relative;
  color: var(--text-color);
  background: url("res/dividers/flurf.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h2 {
  margin-bottom: 2rem;
  width: fit-content;
}

footer h2,
footer p {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
}

footer ul {
  width: fit-content;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

footer ul li a {
  text-decoration: none;
  position: relative;
  color: var(--color-light-blue);
}

footer ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1);
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  transition: all 0.3s;
  background-color: var(--color-light-blue);
}

.link::before {
  right: 0;
  bottom: -0.3rem;
}

.link::after {
  left: 0;
  top: -0.3rem;
}

.link:hover::before,
.link:hover::after {
  width: 50%;
}

.social-icons {
  flex-direction: row;
}

@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: flex-start;
  }

  .footer-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-item1,
  .footer-item1 ul {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-item2,
  .footer-item2 ul {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-item3 {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-item4 {
    justify-content: flex-start;
    align-items: flex-end;
  }
}

@media (min-width: 1024px) {
  footer {
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-item ul {
    align-items: center;
  }

  .footer-item4 {
    grid-column: 1/4;
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  footer {
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-item4 {
    grid-column: 4;
  }
}
