:root {
  --color-dark-gray: #2e2e2e;
  --color-charcoal: #3e414a;
  --color-slate-gray: #4f5667;
  --color-steel-blue: #606b87;
  --color-air-force-blue: #7182a7;
  --color-light-blue: #8299c9;
  --text-color: #f1efef;
}

.latestMovies {
}

.latestMovies .heading {
  text-align: center;
  font-size: clamp(2rem, 2vw, 4rem);
  padding: 2rem 0 2rem 0;
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.95);
}
