:root {
  --color-dark-gray: #2e2e2e;
  --color-charcoal: #3e414a;
  --color-slate-gray: #4f5667;
  --color-steel-blue: #606b87;
  --color-air-force-blue: #7182a7;
  --color-light-blue: #8299c9;
  --text-color: #f1efef;
}

.popularMovies {
  position: relative;
  min-height: 1000px;
  background-color: var(--color-charcoal);
}

.popularMovies::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  transform: rotate(180deg);
  background: url(res/dividers/blacksurf.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.popularMovies h2 {
  padding-top: 200px;
  text-align: center;
  font-size: clamp(4rem, 8vw, 7rem);
  position: relative;
  -webkit-text-fill-color: var(--text-color);
}

.popularMovies h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 80%;
  height: 5px;
  background-color: var(--color-dark-gray);
}

.popularMovies h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 80%;
  height: 5px;
  background-color: var(--color-dark-gray);
}

.popularMovies .movies {
  margin-top: 100px;
  display: grid;
  gap: 30px;
}

.popularMovies .movies .movie {
  width: min(400px, 100%);
  aspect-ratio: 9/25;
  padding: 10px;
  margin: auto;
  background: rgb(79, 86, 103);
  background: linear-gradient(85deg, rgba(79, 86, 103, 1) 0%, rgba(113, 130, 167, 1) 100%);
}

.popularMovies .movies .movie img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.popularMovies .movies .movie .text {
  width: 100%;
  height: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .popularMovies .movies .movie {
    width: 100%;
    display: flex;
    aspect-ratio: 16/9;
  }

  .popularMovies .movies .movie img {
    flex: 0 0 30%;
    max-width: 30%;
    height: 100%;
  }

  .popularMovies .movies .movie .text {
    flex: 0 0 70%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
  }

  .popularMovies .movies .movie .text .title {
    font-size: clamp(1.8rem, 7vw, 3rem);
  }

  .popularMovies .movies .movie .text .rating {
    font-size: clamp(1.5rem, 11vw, 1.7rem);
  }

  .popularMovies .movies .movie .text .desc {
    line-height: 1.4em;
    font-size: clamp(1.3rem, 10vw, 1.5rem);
  }

  .popularMovies .movies .movie .text .actors {
    font-size: clamp(1.2rem, 8vw, 1.4rem);
  }
}

@media (min-width: 1024px) {
  .popularMovies .movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .popularMovies .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}
