:root {
  --color-dark-gray: #2e2e2e;
  --color-charcoal: #3e414a;
  --color-slate-gray: #4f5667;
  --color-steel-blue: #606b87;
  --color-air-force-blue: #7182a7;
  --color-light-blue: #8299c9;
  --text-color: #f1efef;
}

.sliced-heading-wrapper {
  display: grid;
  place-content: center;
  background-color: black;
  padding: 10px;
  font-size: clamp(2rem, 10vw, 7rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  position: relative;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  display: block;
}

span {
  display: block;
  margin: 0;
  padding: 0;
}

.sliced-heading-wrapper > h2,
.sliced-heading-wrapper > span {
  grid-area: 1 / 1 / -1 / -1;
}

.sliced-heading-wrapper .top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.sliced-heading-wrapper .bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

.sliced-heading-wrapper .bottom[aria-hidden="true"] {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-dark-gray);
}

.carousel-items {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-items .carousel-card {
  flex: 0 0 100%;
  display: grid;
  grid-template-rows: 500px 200px;
  width: 100%;
  height: 700px;
  color: var(--text-color);
}

.carousel-items .carousel-card figure {
  grid-row: 1;
  margin: 0;
  padding: 0;
  position: relative;
}

.carousel-items .carousel-card figcaption {
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  height: 100px;
  margin-top: -10px;
  text-transform: uppercase;
  background-color: var(--color-steel-blue);
}

.carousel-items .carousel-card figure img {
  width: 100%;
  height: 450px;
  margin: 0;
  position: relative;
  display: block;
}

.carousel-items .carousel-card figure::before {
  content: attr(data-rank);
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  font-size: 2rem;
  color: var(--text-color);
  z-index: 100;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.6) 20%);
}

.carousel-items .carousel-card figure::after {
  content: attr(data-rating);
  position: absolute;
  left: 0;
  right: 0;
  top: 380px;
  height: 40px;
  padding-top: 25px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  z-index: 100;
  color: var(--text-color);
  background: rgb(0, 0, 0);
  background: linear-gradient(0, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 60%);
}

.carousel-items .carousel-card p {
  grid-row: 2;
  margin: 0;
  padding: 20px;
  background-color: var(--color-steel-blue);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  color: var(--text-color);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .carousel-items {
    padding: 20px 0 20px 0;
  }

  .carousel-items .carousel-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel-items .carousel-card:first-child {
    padding-left: 20px;
  }
  .carousel-items .carousel-card:last-child {
    padding-right: 20px;
  }
  .carousel-items .carousel-card {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .carousel-items .carousel-card {
    flex: 0 0 25%;
  }
}
