:root {
  --color-dark-gray: #2e2e2e;
  --color-charcoal: #3e414a;
  --color-slate-gray: #4f5667;
  --color-steel-blue: #606b87;
  --color-air-force-blue: #7182a7;
  --color-light-blue: #8299c9;
  --text-color: #f1efef;
}

.tredingMovies {
  padding-bottom: 400px;
}

.tredingMovies .card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tredingMovies .card-container .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  height: 200px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.tredingMovies .card-container .inner-card {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: green;
}
@media (max-width: 1023px) {
  .tredingMovies .card-container .card:hover {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .tredingMovies .card-container {
    flex-direction: row;
  }
  .tredingMovies .card-container .card {
    height: 500px;
  }
  .tredingMovies .card-container .card:hover {
    flex-grow: 3;
  }
}
