:root {
  --color-dark-gray: #2e2e2e;
  --color-charcoal: #3e414a;
  --color-slate-gray: #4f5667;
  --color-steel-blue: #606b87;
  --color-air-force-blue: #7182a7;
  --color-light-blue: #8299c9;
  --text-color: #f1efef;
}

.tredingMovies {
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  background-color: var(--color-dark-gray);
}

.tredingMovies::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -200px;
  right: -200px;
  height: 100px;
  z-index: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 100%);
}

.tredingMovies .card-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--color-slate-gray);
}

.tredingMovies .card-container .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  height: 400px;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.tredingMovies .card-container .card img {
  width: max(200px, 50%);
  height: 100%;
  display: block;
  margin: auto;
}

.tredingMovies .card-container .card .hidden-data {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.4s;
  color: var(--text-color);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 1) 100%);
}

.tredingMovies .card-container .card .hidden-data .data-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.tredingMovies .card-container .card:hover .hidden-data {
  bottom: 0;
}

.tredingMovies .card-container .card1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 100%), url("/res/treding-movies-posters/treding-movie-poster-1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tredingMovies .card-container .card2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 100%), url("/res/treding-movies-posters/treding-movie-poster-2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tredingMovies .card-container .card3 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 100%), url("/res/treding-movies-posters/treding-movie-poster-3.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tredingMovies .card-container .inner-card {
  width: 100%;
  height: 100%;
}

.banner {
  width: min(600px, 100%);
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  margin: auto;
  margin-top: 100px;
  border-radius: 0.3em;
  position: relative;
  z-index: 10px;
  background: var(--color-steel-blue);
}

.banner.banner-image {
  height: auto;
  width: 10em;
}

.banner .banner-image > img {
  height: 100%;
  width: 10em;
  object-fit: cover;
  border-radius: 0 2em 2em 0 / 0 3em 3em 0;
  box-shadow: 3px 5px 1px 3px var(--color-slate-gray);
  z-index: 10;
}

.banner .text {
  padding: 10px;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
}

@media (max-width: 1023px) {
  .tredingMovies .card-container .card:hover {
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .tredingMovies .card-container {
    flex-direction: row;
  }
  .tredingMovies .card-container .card {
    height: 500px;
  }
  .tredingMovies .card-container .card:hover {
    flex-grow: 3;
  }
  .tredingMovies .card-container .card .hidden-data .data-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }

  .tredingMovies .card-container .card .hidden-data .data-grid .align-left {
    text-align: left;
    white-space: nowrap;
  }

  .tredingMovies .card-container .card .hidden-data .data-grid .align-right {
    text-align: right;
    white-space: nowrap;
  }
}
