:root {
  --color-dark-gray: #2e2e2e;
  --color-charcoal: #3e414a;
  --color-slate-gray: #4f5667;
  --color-steel-blue: #606b87;
  --color-air-force-blue: #7182a7;
  --color-light-blue: #8299c9;
  --text-color: #f1efef;
}

.tredingMovies {
  padding-bottom: 400px;
}

.tredingMovies .card-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  height: 100%;
  background-color: black;
}

.tredingMovies .card-container .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  height: 400px;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.tredingMovies .card-container .card img {
  width: max(200px, 50%);
  height: 100%;
  display: block;
  margin: auto;
}

.tredingMovies .card-container .card .hidden-data {
  width: max(200px, 50%);
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: red;
  transition: all 0.4s;
  padding: 10px;
}

.tredingMovies .card-container .card .hidden-data .data-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.tredingMovies .card-container .card .hidden-data .data-grid .align-left {
  text-align: left;
}

.tredingMovies .card-container .card .hidden-data .data-grid .align-right {
  text-align: right;
}

.tredingMovies .card-container .card:hover .hidden-data {
  bottom: 0;
}

.tredingMovies .card-container .card1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 100%), url("/res/treding-movies-posters/treding-movie-poster-1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tredingMovies .card-container .card2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 100%), url("/res/treding-movies-posters/treding-movie-poster-2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tredingMovies .card-container .card3 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 100%), url("/res/treding-movies-posters/treding-movie-poster-3.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tredingMovies .card-container .inner-card {
  width: 100%;
  height: 100%;
}
@media (max-width: 1023px) {
  .tredingMovies .card-container .card:hover {
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .tredingMovies .card-container {
    flex-direction: row;
  }
  .tredingMovies .card-container .card {
    height: 500px;
  }
  .tredingMovies .card-container .card:hover {
    flex-grow: 3;
  }
}
